#frmRegistroCurso{

   display: block;
   height: 200px;
   width: 500px;
}

.txtRegistroCurso{

   margin: 15px auto;
}

.selecProfCurso{

	margin-left: 180px;

}

.displayNone{

	display: none;

}

#MsjError{


}
/*-----------------------------------------------------------------------------*/

