.centrado{
    left: 420px;
}

.iniciarSesion{
    margin-left: 0;
}

.registrarUsuario {
    margin-left: 0;
} 

.activarCuenta{
    margin-left: 0;
}

#form-registro{
    width: 700px;
    margin-left: 50px
}

h2{
    text-align: center;
}

#titulo{
    margin-top: 0;
}

form{
    background: #ecf0f1;
    width: 400px;
<<<<<<< HEAD
    margin-bottom: 40px;
    margin-left: 285px;
=======
    margin: 0 auto 40px;
>>>>>>> origin/master
}

fieldset{
    margin-bottom: 0;
}

legend{
    text-align: center;
    margin-bottom: 10px
}

.btn{
    margin: 0 120px 20px;
}

.links{
    font-size: 12px;
}

.links a{
    color: #c0392b
}

#aRegistrar{
    margin-left: 105px ;
    border-right: 2px solid #bdc3c7;
    padding: 0 15px 0 0;
}

#aOlvide{
    margin-left: 15px 
}

label{
    margin: 0;
    display: block;
    text-align: center
}


.form-row{
    margin-bottom: 0px;
}

#btnRegistrar{
   margin: 0 130px 
}

footer{
    text-align: center
}

.icon{
    position: absolute;
    z-index: 1;
    margin-left: 5px;
}

input{
    text-indent: 13px;
    padding: 0;
} 

/*.alert-error{
    display: none;
}*/

.error{
    display: block;
}



.alert-error{

}

.encabezado{
    overflow: hidden;
    margin: 10px 0 20px 0;
}

.busquedaUsuarios{
    position: static;
    display: inline-block;
    float: right;
}

.crearUsuario{
    float: left
}

.acciones-admin{
    overflow: hidden;
    margin-top: 20px 
}

.item-usuario{
    float: right;
    margin-right: 64px;
}