/* ----------
   Paleta de colores
   ---------- 
   White: #FFFFFF
   Clouds: #ecf0f1
   Silver: #bdc3c7
   Concrete: #95a5a6
   Asbestos: #7f8c8d
   Gris oscuro (header): #333;
   Black: #000000
   Alizarin: #e74c3c
   Pomegranate: #c0392b
   Midnight blue: #2c3e50 
*/

.cita {
   border: 2px solid #ecf0f1;
   border-radius: 10px;
   margin: 10px 5px 30px;
   padding: 5px 20px 20px;
   position: relative;
}

.cita h2 {
   font-size: 20px;
   margin-bottom: 5px;
}

.cita .cita-photo {
   border: 1px solid #bdc3c7;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   margin-left: 10px;
   position: absolute;
   right: 0;
   top: 0;
}

.cita .form-row-button {
   margin: 20px 0 0 160px;
}

.cita-invitado {
   font-size: 18px;
   line-height: 1.5;
}

.cita .mod-bd {
   position: relative;
}

.cita-hora-inicio-fin {
   font-size: 18px;
   position: absolute;
   right: 0;
   top: 0;
}

.thrd-nav-category {
   overflow-y: scroll;
}