/* 
En este archivo agreguen su nombre como comentario y debajo agregan sus estilos, 
para que sea mas facil la integracion.
// ----------
//   Javier Barboza Solis
//   ----------
.selector {}*/
.titulo2{
	margin:8px ;
	color: #FFFFFF;
}

.stit2{
	padding-right: 300px;

}
#wrapperItems{
	display: ;
}

#pregunta1{
	padding-left: 10px;
	width:600px;
	float: left;
	
}

.preguntas{
	padding-left: 10px;
	width:600px;
	float: left;
	margin-right: 55px;	
}

.opcs {
    display: inline-flex;
    margin: 0 15px 0 0;
    width: 30px;
}
.checkbox, .radio {
    padding-left: 20px;
    margin: 0px auto;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 0px;
}

label {
    line-height: 1.3;
   
}
fieldset{
	background: #FFFFFF;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.accordion-item .accordion-detail {
    padding: 0px;
}

.form-row, .row {
    width: 210px;
}

h2{
	margin: 5px 0px 20px 5px;

}

.form-row-ev{
	width: 700px;
	height: 30px;
	margin: 4px 0px -2px 0px;
	border-bottom: 1px solid #95a5a6;
}

.nbr{  
	border-radius: 1px solid #95a5a6;
	margin: 0px auto;
	padding: 0px;
	width: 80px;

}

#promedio{
	font-size: 24px;

}







































