/* 
En este archivo agreguen su nombre como comentario y debajo agregan sus estilos, 
para que sea mas facil la integracion.
// ----------
//   Javier Barboza Solis
//   ----------
/* ----------
   Paleta de colores
   ---------- 
   White: #FFFFFF
   Clouds: #ecf0f1
   Silver: #bdc3c7
   Concrete: #95a5a6
   Asbestos: #7f8c8d
   Gris oscuro (header): #333;
   Black: #000000
   Alizarin: #e74c3c
   Pomegranate: #c0392b
   Midnight blue: #2c3e50 
*/
.titulo2{
	margin:8px ;
	color: #FFFFFF;
}

.stit2{
	padding-right: 300px;

}

#pregunta1{
	padding-left: 10px;
	width:600px;
	float: left;
	
}

#pregunta1A{
	padding-left: 20px;
	width:550px;
	float: left;
	margin-right: 70px;
	
}

.preguntas{
	padding-left: 10px;
	width:600px;
	float: left;
	margin-right: 55px;	
}

.opcs {
    display: inline-flex;
    margin: 0 15px 0 0;
    width: 30px;
}
.checkbox, .radio {
    padding-left: 20px;
    margin: 0px auto;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 0px;
}

label {
    line-height: 1.3;
   
}
fieldset{
	background: #FFFFFF;
	width: auto;
	margin: 0px;
	padding: 0px;
}

.accordion-item .accordion-detail {
    padding: 0px;
}

.form-row, .row {
    width: 210px;
}

h2{
	margin: 5px 0px 20px 5px;

}

.form-row-ev{
	width: 700px;
	height: 30px;
	margin: 4px 0px -2px 0px;
	border-bottom: 1px solid #95a5a6;
}

.nbr{  
	border-radius: 1px solid #95a5a6;
	margin: 0px auto;
	padding: 0px;
	width: 80px;

}

#promedio{
	font-size: 24px;
}

.wrapperItems {
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
}
.wrapperItems.visible {
	height: 170px;
}


/*EVALUAR CITA Y CONSULTAR CITA FIN*/

/*empieza mi ranking*/

#rankDiv{
	background: #333;
	height: 200px;
	color: #ffffff;
	
}
#puntuacion{
    float: right;
    margin: 1px 40px 0 0;
}

.circulo {
  background: none repeat scroll 0 0 #e74c3c;
	border-radius: 40px;
	color: #ffffff;
	display: block;
	font-size: 60px;
	font-weight: bold;
	line-height: 80px;
	margin-left: 50px;
	text-align: center;
	width: 80px;
}

h1{
	font-size: 36px;
}
#cantidad{
	font-weight: bold;
    margin: 168px 2px 0px 550px;
    position: absolute;
    width: 180px;
}

#user{
    float: left;
    margin: 30px 0 20px 40px;
    width: 100px;
}

th{
	font-size: 18px;
	font-weight: bold;
}
/*termina mi ranking--termina Javier*/



































